@use "../../../styles/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  border-top: 1px solid $text;
  justify-content: center;
  align-items: center;
  color: $text;
  font-size: 1.5rem;
}

.data {
  font-size: 1rem;
}
